openapi: "3.0.0"
info:
  title: "Books"
  description: "JSON web API for Project Gutenberg ebook metadata"
  version: 1.0.0
servers:
  - url: "https://gutendex.com/"
paths:
  /books:
    get:
      tags:
      - "Books"
      summary: "Lists of Books"
      description: "Lists of book"
      parameters:
        - name: page 
          in: query
          required: false
          example: "2"
          schema:
            type: integer
            format: int32
        - name: author_year_start 
          in: query
          required: false
          example: "1800"
          schema:
            type: integer
            format: int32
        - name: author_year_end 
          in: query
          required: false
          example: "1899"
          schema:
            type: integer
            format: int32
        - name: copyright 
          in: query
          required: false
          schema:
            type: boolean
        - name: ids 
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
              nullable: false
        - name: languages 
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Books'
  /books/{id}:
    get:
      tags:
      - "Books"
      summary: "Book"
      description: "Book"
      parameters:
        - name: id 
          in: path
          required: true
          example: "55"
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
components:
  schemas:
    Books:
      type: object
      properties:
        count: 
          type: integer
          format: int32
          nullable: false
        next: 
          type: string
        previous: 
          type: string
        results: 
          type: array
          items: 
            $ref: '#/components/schemas/Book'
    Book:
      type: object
      properties: 
        id: 
          type: integer
          format: int32
          nullable: false
        title: 
          type: string
        authors: 
          type: array
          items:
            $ref: '#/components/schemas/Person'
        translators: 
          type: array
          items: 
            $ref: '#/components/schemas/Person'
        subjects: 
          type: array
          items: 
            type: string
        bookshelves: 
          type: array
          items: 
            type: string
        languages: 
          type: array
          items: 
            type: string
        copyright: 
          type: boolean
        media_type: 
          type: string
        formats: 
          type: object
          properties: 
            application/x-mobipocket-ebook: 
              type: string
            application/epub+zip: 
              type: string
            application/rdf+xml: 
              type: string
            text/plain; charset=us-ascii: 
              type: string
            text/plain: 
              type: string
            image/jpeg: 
              type: string
            application/zip: 
              type: string
            text/html: 
              type: string
            application/octet-stream: 
              type: string
            download_count: 
              type: integer
              format: int32
              nullable: false
    Person:
      type: object
      properties: 
        name: 
          type: string
        birth_year: 
          type: integer
          format: int32
        death_year: 
          type: integer
          format: int32